<section>
    <div class="board-header">
        <div class="title">
          <span>BOARD</span>
        </div> 
    </div>

    <article ng-repeat="article in articles.docs">
        <div class="board-item">
            <div class="title">
              <a ui-sref=".read({id:article._id})">{{article.title}}</a>
            </div>
            <div class="board-item-wrap">
              <div class="profilePic">
                <img ng-src="{{article.creator.profilePic}}" style="width:20px;height:20px;border-radius: 50%;"/>
              </div>
              <div class="name" style="margin-right:10px;">
                {{article.creator.displayName}}
              </div>
              <div class="published">
                {{article.uploadTime | date : 'yyyy.MM.dd hh:mm'}}
              </div>
            </div>
            <div class="entry-meta">
              <div class="entry-comment">

                <span class="entry-icon ion-chatbubbles"></span>
                <span class="entry-value">{{article.comments.length}}</span>
              </div>
              <div class="entry-hit">
                <span class="entry-icon ion-eye"></span>
                <span class="entry-value">{{article.hit}}</span>
              </div>
            </div>
        </div>
    </article>
    <div class="text-center paging-block">
       <cl-paging cl-pages="paging.total" cl-steps="5" cl-page-changed="paging.onPageChanged()" cl-align="start start" cl-current-page="paging.current"></cl-paging>
    </div>
    <div class="text-center search-block">
        <input type="text">
        <button class="btn-search"><span class="ion-search" style="font-size:18px;"></span></button>
    </div>
    <div ng-hide="!currentUser" style="margin-bottom:15px;">
        <a title="게시물 작성" ui-sref=".create" class="btn btn-default">게시물 작성</a>
    </div>
</section>
