<section>
    <div class="board-header">
        <div class="title">
          <span>BOARD</span>
          <a ng-hide="!currentUser" title="게시물 작성" ui-sref=".create" class="btn-create" style=""><span class="ion-android-create"></span><span style="margin-left:13px;">글쓰기</span></a>
        </div> 

    </div>

    <article ng-repeat="article in articles.docs">
        <div class="board-item">
            <div class="title">
              <a ui-sref=".read({id:article._id,page:'',title:'',author:'',content:''})">{{article.title}}</a>
            </div>
            <div class="board-item-wrap">
              <div class="profilePic">
                <img ng-src="{{article.creator.profilePic}}" style="width:20px;height:20px;border-radius: 50%;"/>
              </div>
              <div class="name" style="margin-right:10px;">
                {{article.creator.displayName}}
              </div>
              <div class="published">
                {{article.uploadTime | date : 'yyyy.MM.dd hh:mm'}}
              </div>
            </div>
            <div class="entry-meta">
              <div class="entry-comment">

                <span class="entry-icon ion-chatbubbles"></span>
                <span class="entry-value">{{article.comments.length}}</span>
              </div>
              <div class="entry-hit">
                <span class="entry-icon ion-eye"></span>
                <span class="entry-value">{{article.hit}}</span>
              </div>
            </div>
        </div>
    </article>
    <div class="text-center paging-block">
       <cl-paging cl-pages="paging.total"  cl-route="paging.route" cl-title="paging.title" cl-author="paging.author" cl-content="paging.content" cl-steps="5" cl-page-changed="paging.onPageChanged()" cl-align="start start" cl-current-page="paging.current"></cl-paging>
    </div>
    <div class="text-center search-block">
        <select style="position:relative;margin-top:15px;display: inline-block;width:100px;" ng-model="optSelected" ng-options="data as data.kind for data in selectedOption">
        </select>

        <input type="text" ng-model="search" ng-keypress="pressEnter($event)">
        <button ng-click="searchSubmit()" class="btn-search"><span class="ion-search" style="font-size:18px;"></span></button>

    </div>
<!--     <div ng-message="pattern"></div> -->

</section>

