<section  ng-init="getPosts()">
    <div class="post-header">
        <div class="title">
            <span>POST</span>
        </div>  
    </div>
    <article ng-repeat="post in posts.docs">
    <div class="blog-item">
        <div class="blog-item-title">
            <h2 class="blog-title">
            <a title="게시물 읽기" ui-sref=".read({id : post._id,page:'',title:'',content:''})" ng-bind="post.title"></a>
            </h2>
            <div class="entry-meta">
                <span class="meta-part">
                    <span class="entry-icon ion-person"></span>
                    <span class="entry-value" ng-bind="post.creator.displayName"></span>
                </span>
                <span class="meta-part">
                    <span class="entry-icon ion-calendar"></span>
                    <span class="entry-value" ng-bind="post.uploadTime | date:'medium'"></span>
                </span>
                <span class="meta-part">
                    <span class="entry-icon ion-chatbubbles"></span>
                    <span class="entry-value" ng-bind="post.comments.length"></span>
                </span>
                <span class="meta-part">
                    <span class="entry-icon ion-star"></span>
                    <span class="entry-value" ng-bind="post.likes.length"></span>
                </span>
                <span class="meta-part">
                    <span class="entry-icon ion-eye"></span>
                    <span class="entry-value" ng-bind="post.hit"></span>
                </span>
            </div>
        </div>
        <div class="blog-item-wrap">
            <div ng-show="post.cover" class="image" ng-style="{'background':'url('+post.cover+')','background-size':'cover','background-position':'center'}">

            </div>
            <div class="content">
                <div ng-bind-html="(post.content | limitTo : 100) + '...'"></div>
                <div class="entry-more">
                <div class="pull">
                    <a title="게시물 읽기" class="btn btn-common" ui-sref=".read({id : post._id})">
                        READ MORE 
                        <i class="icon ion-android-arrow-forward"></i>
                    </a>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    </article>

    <div class="text-center paging-block">
        <cl-paging cl-pages="paging.total" cl-title="paging.title" cl-content="paging.content" cl-route="paging.route" cl-steps="5" cl-page-changed="paging.onPageChanged()" cl-align="start start" cl-current-page="paging.current"></cl-paging>
    </div>
    <div class="text-center search-block">
         <select style="position:relative;margin-top:15px;display: inline-block;width:100px;" ng-model="optSelected" ng-options="data as data.kind for data in selectedOption">
        </select>

        <input type="text" ng-model="search" ng-keypress="pressEnter($event)">
        <button ng-click="searchSubmit()" class="btn-search"><span class="ion-search" style="font-size:18px;"></span></button>
    </div>

    <div ng-hide="!currentUser" style="margin-bottom:15px;">
        <a title="게시물 작성" ui-sref=".create" class="btn btn-default">게시물 작성</a>
    </div>
</section>
